# **AVOCADO DATA PROJECT**

## **Analyze and give direction to businesses through prices, regions, and sales volume.**

### Analysis based on **#avocado\_detail dataset**

In last analyze "**Overall analysis of avocado market in the US from 2015 to 2022".** It has been identified that the avocado market in the US has just experienced a serious crisis, which is reflected in a number of aspects such as decreased sales volume and decreased revenue. However, from 2021 to 2022, the avocados market in the U.S has shown signs of recovery.

Revenues from **Organic** avocado varieties are increasing strongly again, from the previous analysis, it has also shown the preference for **\_4770** **Organic** avocados of customers in the U.S. Therefore in this analysis we will focus more deeply on this type of avocado and this analysis will use 2020 as a worldwide crisis year to compare the post-crisis recovery across areas in the US.

## 1. **Revenue**

**Top 5 cities with the highest revenue from Organic avocado varieties in 3 years from 2020 - 2022**

In [1]:
--Top 5 city have revenue best in 2020 - 2022 
--2020
SELECT DISTINCT TOP(5) geography,
      AVG(average_price)*SUM(total_volume) as _Revenue2020
FROM avocado_detail
WHERE type ='Organic' AND year ='2020'
GROUP BY geography,year,type
ORDER BY 2 DESC
--2021
SELECT DISTINCT TOP(5) geography,
      AVG(average_price)*SUM(total_volume) as _Revenue2021
FROM avocado_detail
WHERE type ='Organic' AND year ='2021'
GROUP BY geography,year,type
ORDER BY 2 DESC
--2022
SELECT DISTINCT TOP(5) geography,
      AVG(average_price)*SUM(total_volume) as _Revenue2022
FROM avocado_detail
WHERE type ='Organic' AND year ='2022'
GROUP BY geography,year,type
ORDER BY 2 DESC

geography,_Revenue2020
New York,2743164.4235777054
San Francisco,1552982.4993281683
Seattle,1125814.998999551
Los Angeles,1083958.141821162
Denver,802595.9778296074

geography,_Revenue2021
New York,1393970.6446006298
San Francisco,1305903.9214317764
Seattle,927839.7198667338
Sacramento,752532.728377774
Portland,698448.0352633409

geography,_Revenue2022
Seattle,1991402.6029253171
Los Angeles,1881621.85192562
San Francisco,1569091.5643661944
New York,1456081.7276417417
Portland,1287992.6116839212

Data shows that **Seattle** is the city with the **highest revenue** in **2022** from **Organic** avocado varieties (1,991,402,6029253171).

The highest revenue in the last 3 years is concentrated in:

- **New York**
- **Los Angeles**
- **San Francisco**
- **Seattle**
- **Portland**

**From here, we have a basis to consider choosing one of these cities when we want to participate in the avocado market in the US.**

The data also shows revenue trends for each city over 3 years from **2020** to **2022**

- **New York:** Revenue of **Organic** avocado varieties in **New York** in 2022 **decreased** by **46.9%** compared to 2020
- **Los Angeles:** Revenue of **Organic** avocado varieties in **Los Angeles** in 2022 **increased** by **73.6%** compared to 2020
- **San Francisco:** Revenue of **Organic** avocado varieties in **San Francisco** in 2022 **increased** by **1%** compared to 2020
- **Seattle:** Revenue of **Organic** avocado varieties in **Seattle** in 2022 **increased** by **76.9%** compared to 2020

With this changing trend, **Los Angeles** and **Seattle** are becoming the two cities with the most potential **Organic** avocado market in the US.

In [2]:
SELECT DISTINCT TOP(5) geography,
      AVG(average_price)*SUM(_4046) as _Rev_4046,
	  AVG(average_price)*SUM(_4225) as _Rev_4225,
      AVG(average_price)*SUM(_4770) as _Rev_4770,
	  AVG(average_price)*SUM(total_volume) Total_Revenue
FROM avocado_detail
WHERE type ='Organic' AND year ='2022'
GROUP BY geography,year,type
ORDER BY 5 DESC

geography,_Rev_4046,_Rev_4225,_Rev_4770,Total_Revenue
Seattle,247430.80103791953,820391.5314642646,923580.2707311945,1991402.6029253171
Los Angeles,608220.5729578346,122692.96842959589,1150708.3551096295,1881621.85192562
San Francisco,482085.12886772,527888.2068306269,559118.2228378841,1569091.5643661944
New York,1085177.1712927083,211890.55612076455,159013.98738991335,1456081.7276417417
Portland,122238.93185751402,627596.6598325882,538157.0130035621,1287992.6116839212

The advantage of each city is evident in the revenue of each type of avocado:

- **Seattle:** Take advantage with sales from 2 types of avocados **4225 Org**, **4770 Org** in **2022.** 
- **Los Angeles:** Focus on revenue from 2 types of avocados **4770 Org**, **4046 Org** in **2022.** 
- **New York:** Having a competitive advantage from the **4046 Org** avocado in **2022**
- **San Francisco:** Focusing on evenly developing sales of all 3 Org avocados in **2022**, but not really prominent, dominating in any avocado type.

## **2\. VOLUME**

**Top 5 cities with the highest sales volumes in Organic avocado varieties from 2020 - 2022**

In [3]:
SELECT DISTINCT TOP(5) geography, SUM(total_volume) AS Total_alr_sell FROM avocado_detail
WHERE type = 'Organic' AND year ='2020'
GROUP BY geography,type,year
ORDER BY Total_alr_sell DESC

SELECT DISTINCT TOP(5) geography, SUM(total_volume) AS Total_alr_sell FROM avocado_detail
WHERE type = 'Organic' AND year ='2021'
GROUP BY geography,type,year
ORDER BY Total_alr_sell DESC

SELECT DISTINCT TOP(5) geography, SUM(total_volume) AS Total_alr_sell FROM avocado_detail
WHERE type = 'Organic' AND year ='2022'
GROUP BY geography,type,year
ORDER BY Total_alr_sell DESC

geography,Total_alr_sell
New York,1548170.396484375
San Francisco,789986.859375
Los Angeles,649076.7290039062
Denver,614721.6684570312
Seattle,596985.41796875

geography,Total_alr_sell
New York,797314
San Francisco,682602.5112304688
Seattle,441434.2998046875
Sacramento,424909.66845703125
Los Angeles,371814.8408203125

geography,Total_alr_sell
Los Angeles,957568.3774414062
Seattle,853059.8505859375
New York,791762.515625
San Francisco,742494.8708496094
Denver,579511.9206542969

In terms of output, it also shows that **Seattle** and **Los Angeles** are really the two dominant cities 

**Seattle :** From 2020 to 2022, the production **increase** to **42.9%** 

**Los Angeles:** From 2020 to 2022 also **increase** in **Organic** avocado production by **47.5%** 

Meanwhile, the other top producing cities, as of 2022, have all experienced a decline in the sales of **Organic** avocados. 

Although New York and San Francisco are the two cities with the highest sales volume in 2020-2021, by 2022, Seattle and Los Angeles will show themselves as the two cities with the highest growth rates.

## **3\. PRICE**

**Top 5 cities with the highest selling price in Organic avocado varieties from 2022**

In [4]:
SELECT  DISTINCT TOP(5)(geography) ,AVG(average_price) AS price FROM avocado_notUS_2022
WHERE year = '2022' AND type ='Organic'--organic/conventional--
GROUP BY geography,type,year
ORDER BY 2 DESC

geography,price
Boise,2.4311538453285513
Spokane,2.4223076701164246
Portland,2.3374999944980326
Seattle,2.334423078940465
Northern New England,2.18211537370315

**Seattle** is one of 5 cities with the **highest selling price** of **Organic** avocados in the US in **2022.**

In [5]:
SELECT  year ,AVG(average_price) AS price FROM avocado_notUS_2022
WHERE geography ='Seattle' AND type ='Organic'--organic/conventional--
GROUP BY geography,type,year
ORDER BY 1 ASC

year,price
2015,1.7099999968822186
2016,1.5734615406164756
2017,1.8898113100033886
2018,1.7744897968915043
2019,1.9605769308713765
2020,1.8858333304524422
2021,2.1018750021855035
2022,2.334423078940465

In more detail, the data also shows that the price of **Organic** avocados in **Seattle** has increased continuously for 3 years from **2020 to 2022**. 

This also means that there is a scarcity of **Organic** avocado in **Seattle**, the supply of **Organic** avocado here is not enough to provide for the local people, leading to the price of this avocado variety increasing continuously during the past 3 years.

This is also an opportunity for businesses to participate in the Organic avocado market here.